# Database
DB_USER=weather
DB_PASSWORD=weather_secret
DB_HOST=db
DB_PORT=5432
DB_NAME=weather_db

# API keys
OWM_API_KEY=7bb5a21e32677188ade4dd1f62c8ea08
WEATHERAPI_KEY=57a636e026c4463f8e0153752262802

# Admin
ADMIN_API_KEY=your_admin_secret_key

# Telegram
TELEGRAM_BOT_TOKEN=8596537105:AAHNm5BkIkZLIm9Y4GemUgpXbIZyzteQYNI
